<div class="drawer mdl-layout__drawer mdl-js-layout">

  <header class="drawer-header">

    <img src="images/87013.png" class="drawer-logo">

    <span class="mdl-layout-title">Pika-Chouette</span>

  </header>

  <nav class="navigation mdl-navigation">

    <a href="" class="navigation-link mdl-navigation__link">Bourg Palette</a>
    <a href="" class="navigation-link mdl-navigation__link">Jadielle</a>
    <a href="" class="navigation-link mdl-navigation__link">Argenta</a>
    <a href="" class="navigation-link mdl-navigation__link">Azuria</a>
    <a href="" class="navigation-link mdl-navigation__link">Carmin sur mer</a>
    <a href="" class="navigation-link mdl-navigation__link">Celadopole</a>
    <a href="" class="navigation-link mdl-navigation__link">Safrania</a>
    <a href="" class="navigation-link mdl-navigation__link">Parmanie</a>
    <a href="" class="navigation-link mdl-navigation__link">Cramois'Îles</a>

    <div class="mdl-layout-spacer"></div>

    <a href="" class="navigation-link mdl-navigation__link">The End</a>

  </nav>

</div>

<div class="mdl-layout__drawer-button"><i class="material-icons">menu</i></div>
